@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Poppins:wght@100;300;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins';
}

:root {
    --color-bg: white;
    --color-body: rgb(209, 216, 229);
    --color-shadows: rgba(0, 0, 0, 0.116);
    --color-material-icons: rgb(0, 0, 0);
    --color-mat-icons-click: rgb(121, 121, 121);
    --color-btn-action: rgb(176, 243, 255);
    --color-btn-ac-click: rgb(220, 239, 255);
    --color-modal: rgba(0, 0, 0, 0.507);
    --color-btn-finalize: rgb(236, 236, 236);
    --color-recycle: rgb(177, 177, 177);
    --color-border-image: rgb(206, 206, 206);
    --color-btn-action-finalize: rgb(59, 116, 242);
    --color-font-freeshipping: rgb(23, 138, 0);
    --color-bg-freeshipping: rgb(200, 255, 163);
}

::-webkit-scrollbar {
    scroll-behavior: auto;
    scroll-snap-align: center;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-material-icons);
    border-radius: 1rem;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-body);
    overflow-x: hidden;
}

/* ESTILOS DO HEADER*/


header {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 1rem;
    padding: 2rem;
    background-color: var(--color-bg);
    box-shadow: 0 1rem 1rem 0 var(--color-shadows);
}

.material-icons {
    display: flex;
    cursor: pointer;
    color: var(--color-material-icons);
}

.material-icons:active {
    cursor: pointer;
    color: var(--color-mat-icons-click);
}

#amount {
    position: absolute;
    top: 0.8rem;
    right: 1.5rem;
    font-size: .8rem;
    font-weight: 700;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 1rem;

    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--color-btn-action);
}

#container-pop-up {
    position: absolute;
    top: 4rem;
    right: 3.5rem;
    width: 15rem;
    height: 5rem;

    display: none;
    border-radius: .3rem;
    background-color: var(--color-bg);
    box-shadow: 0 0 1rem 0 var(--color-shadows);
}

#pop-up {
    display: flex;
    font-size: 1rem;
    margin: auto;
    color: var(--color-recycle);
}

/* ============================================= */

/* BLOCO DE ESTILOS DAS DIVS DOS PRODUTOS */

main {
    display: flex;
    margin-top: 4rem;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    padding: 1rem;
}

.truffles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 0.8rem;

    width: 14rem;
    height: 14rem;
    border-radius: 0.5rem;
    background-color: var(--color-bg);
    box-shadow: 0 0 .35rem 0 var(--color-shadows);
}

.imagetruffles {
    display: flex;
    margin: auto;
    align-items: center;
    height: 2rem;
}

img {
    width: 8rem;
    clip-path: inset(50px 0px);
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.name-products {
    width: 100%;
    height: 3rem;
    text-align: center;
    padding: .2rem;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.2rem;
}

.price {
    font-size: 1.1rem;
    font-weight: 800;
}

.buttons-add-to-cart {
    width: 100%;
    height: auto;
}

.buttons-action {
    cursor: pointer;
    width: 100%;
    height: 2rem;
    border-radius: .3rem;
    outline: none;
    border: none;
    background-color: var(--color-btn-action);
}

.buttons-action:active {
    background-color: var(--color-btn-ac-click);
}

/* ================================================== */

/* BLOCO DE ESTILOS DOS MODAIS*/

#keep-buying {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    height: 10rem;
    padding: 1rem;
    border-radius: .4rem;
    background-color: var(--color-bg);
    box-shadow: 0 0 3rem 0 var(--color-shadows);
    z-index: 1;
}

#message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

#container-btn-keeping-buy {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn {
    width: 11rem;
}

.finalize {
    background-color: var(--color-btn-finalize);
    font-weight: 700;
}

.continue {
    font-weight: 700;
}

#modal {

    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-modal);
    z-index: 1;
    display: none;
}

/* ===================================================== */

/* BLOCO DE ESTILOS DO CARRINHO DE COMPRAS*/



section {
    margin-top: 6rem;
}

#purchase {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 22rem;
    height: auto;
    margin: auto;
    background-color: var(--color-bg);
    box-shadow: 0 0 3rem 0 var(--color-shadows);
    border-radius: 0.7rem;
}

#title-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    width: 100%;

    font-size: large;
    font-weight: 800;
    border-bottom: .08rem solid var(--color-border-image);
}

#uls-list {
    height: auto;
    padding: 1rem;
}

li {
    list-style: none;
    height: 6.2rem;
}

.purchase-truffles {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 4rem;
    margin: .7rem auto;
}

.purchase-image {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 5.5rem;
    height: 5.5rem;
    border: .1rem solid var(--color-border-image);
}

.purchase-image-link {
    width: 4rem;
    height: 4.5rem;
    clip-path: inset(10px 0px);
}

.purchase-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1.5rem;
    width: 100%;
    height: 70%;
    margin-bottom: 0.6rem;
}

.purchase-prod-names {
    font-size: .75rem;
}

.purchase-cod {
    font-size: 0.6rem;
    color: var(--color-recycle);
}

.purchase-price {
    font-size: .85rem;
    font-weight: 600;
    font: bold;
}

.add-remove-products {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.recycle {
    color: var(--color-recycle);
}

#price-total {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    font-size: large;
    padding: 1rem;
    height: auto;
    border-top: .1rem solid var(--color-border-image);
    border-bottom: .08rem solid var(--color-border-image);
}

#button-purchase {
    padding: 1rem;
}

#finalize-purchase {
    height: 2.5rem;
    color: var(--color-bg);
    font-size: 0.9rem;
    font-weight: 800;
    border-radius: 0.4rem;
    background-color: var(--color-btn-action-finalize);
}

#free-shipping {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
    width: 90%;
    margin: 1.3rem auto;
    font-size: 0.80rem;
    font-weight: 400;
    border-radius: 5rem;
    color: var(--color-font-freeshipping);
    background-color: var(--color-bg-freeshipping);
}