@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&family=Poppins:wght@100;300;500;600;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins';
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: auto;
    background-color: rgb(227, 233, 236);
    overflow-x: hidden;
}


img {
    width: 10rem;
    height: 12rem;
    clip-path: inset(50px 0px);
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.name-products {
    width: 100%;
    height: 3rem;
    text-align: center;
    padding: .2rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.2rem;
}

.price {
    font-weight: 800;
    font-size: larger;
}

.imagetruffles {
    display: flex;
    margin: auto;
    align-items: center;
    height: 9rem;
    border: .062rem solid rgba(0, 0, 0, 0.116);
}

.truffles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem auto;
    padding: 0.8rem;

    width: 18rem;
    height: 18rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0 0 .35rem 0 rgba(0, 0, 0, 0.116);
}

main {
    display: flex;
    flex-wrap: wrap;
    width: auto;
}

.buttons-add-to-cart {
    width: 100%;
    height: auto;
}

.buttons-action {
    cursor: pointer;
    width: 100%;
    height: 2rem;
    background-color: aliceblue;
    border-radius: .3rem;
    outline: none;
    border: none;
    background-color: rgb(94, 255, 207);
}

.buttons-action:active {
    background-color: rgb(220, 239, 255);
}

#uls-list {
    height: auto;
    padding: 1rem;
}

li {
    list-style: none;
    height: 6.2rem;
}

section {
    margin-top: 3rem;
}

#purchase {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25rem;
    height: auto;
    margin: auto;
    /* padding: 1.5rem; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3rem 0 rgba(0, 0, 0, 0.185);
    border-radius: 0.7rem;
}

.purchase-truffles {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 4rem;
    margin: 1rem auto;
}

.purchase-image {
    display: flex;
    align-items: center;
    padding: .5rem;
    width: 6rem;
    height: 6rem;
    border: .1rem solid rgb(206, 206, 206);
}

.purchase-image-link {
    width: 5rem;
    height: 6rem;
    clip-path: inset(10px 0px);
}

.purchase-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1.5rem;
    width: 100%;
    height: 70%;
    margin-bottom: 1.6rem;
}

.purchase-prod-names {
    font-size: .88rem;
}

.purchase-price {
    font-size: .85rem;
}

.purchase-cod {
    font-size: 0.6rem;
    color: rgb(179, 179, 179);
}

#price-total {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    font-size: large;
    padding: 1rem;
    height: auto;
    border-top: .1rem solid rgba(0, 0, 0, 0.116);
    border-bottom: .08rem solid rgb(206, 206, 206);
}

#button-purchase {
    padding: 1rem;
}

#finalize-purchase {
    height: 3.2rem;
    color: white;
    font-size: large;
    font-weight: 800;
    border-radius: 0.4rem;
    background-color: rgb(59, 130, 242);
}

#free-shipping {
    display: none;
    justify-content: center;
    align-items: center;
    height: 2.3rem;
    width: 90%;
    margin: 1.3rem auto;
    font-size: 0.95rem;
    font-weight: 400;
    border-radius: 5rem;
    color: rgb(23, 138, 0);
    background-color: rgb(200, 255, 163);
}

#title-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    padding: 1rem;
    width: 100%;

    font-size: large;
    font-weight: 800;
    border-bottom: .08rem solid rgb(206, 206, 206);
}